@import "~antd/dist/reset.css";

:root {
  --primary: #055802;
  --primary-light: rgb(4, 110, 0);
  --primary-xlight: #3e863c;
  --primary-md: #044602;
  --primary-bold: #043b02;
  --secondary: #0c0c0c;
  --secondary-light: #414141;
  --secondary-xlight: #a3a3a3;
  --secondary-2xlight: #c5c5c5;
  --secondary-bold: #000000;
  --third: #b88d00;
  --third-bold: #947100;
  --danger: #920101;
  --light: #e2e2e2;
  --xlight: #f8f8f8;
  --white: #ffffff;
}

/* Poppins font */
@font-face {
  font-family: "Poppins-Light";
  src: url("../public/fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../public/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../public/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../public/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("../public/fonts/Poppins/Poppins-ExtraBold.ttf");
}

/* Inter font  */
@font-face {
  font-family: "Inter-Light";
  src: url("../public/fonts/Inter/Inter-Light.ttf");
}

@font-face {
  font-family: "Inter-ExtraLight";
  src: url("../public/fonts/Inter/Inter-ExtraLight.ttf");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../public/fonts/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../public/fonts/Inter/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("../public/fonts/Inter/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../public/fonts/Inter/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("../public/fonts/Inter/Inter-ExtraBold.ttf");
}

/* * {
  font-family: Inter-Regular;
} */
* {
  font-family: Poppins !important;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}



.font-inter {
  font-family: Inter-Regular !important;
}

.App {
  text-align: left !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*==================== Theming Start ================================*/
.heading-1 {
  @apply text-2xl;
}

.heading-2 {
  @apply text-xl;
}

.heading-3 {
  @apply text-lg;
}

.heading-4 {
  @apply text-base
}

p {
  line-height: 1.5rem;
}

.text-2xs {
  font-size: 10.5px;
  line-height: 0.9rem;
}

.text-3xs {
  font-size: 10px;
  line-height: 0.9rem;
}

.short-border {
  border-bottom: 3px solid var(--primary);
  /* width: 50%; */
}

a:hover {
  color: initial !important;
}

.table-div {
  overflow-x: scroll;
}

/* .primary-bg { */
.th-bg-primary-bold {
  background-color: var(--primary-bold);
}

.th-bg-primary {
  background-color: var(--primary);
}

.th-bg-secondary {
  background-color: var(--secondary);
}

.th-bg-third {
  background-color: var(--third);
}

.th-bg-third-bold {
  background-color: var(--third-bold);
}

.th-bg-xlight {
  background-color: var(--xlight);
}

.th-text-primary {
  color: var(--primary);
}

.th-text-primary-bold {
  color: var(--primary-bold);
}

.th-text-secondary {
  color: var(--secondary);
}

.th-text-third {
  color: var(--third);
}

.th-text-third-bold {
  color: var(--third-bold);
}

.th-text-white {
  color: var(--white);
}

.activeClass {
  background-color: var(--primary-bold);
  color: var(--white) !important;
  font-weight: 600;
  padding-left: 10px;
  border-radius: 5px;
}

.activeClass:hover {
  background-color: #043b02d7;
  color: var(--white) !important;
  font-weight: 600;
  padding-left: 10px;
  border-radius: 5px;
}


.third-activeClass {
  background-color: var(--third-bold);
  color: var(--white) !important;
  font-weight: 600;
  padding-left: 10px;
  border-radius: 5px;
}

.third-activeClass:hover {
  background-color: #947100d0;
  color: var(--white) !important;
  font-weight: 600;
  padding-left: 10px;
  border-radius: 5px;
}

.primary-button {
  border: 2px solid var(--primary);
  background-color: var(--primary);
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 10px 24px !important;
  height: auto !important;
  color: var(--white);
  display: flex;
  align-items: center;
  @apply !text-xs md:!text-sm;
}

.danger-button {
  border: 2px solid var(--danger);
  background-color: var(--danger);
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 10px 24px !important;
  height: auto !important;
  color: var(--white);
  display: flex;
  align-items: center;
  @apply !text-xs md:!text-sm;
}

.secondary-button {
  border: 2px solid var(--primary);
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: 10px 24px;
  height: auto !important;
  color: var(--primary);
  display: flex;
  align-items: center;
  @apply !text-xs md:!text-sm;
}

.primary-button:hover,
.primary-button:focus,
.primary-button:active {
  background-color: var(--white);
  border: 2px solid var(--primary) !important;
  color: var(--primary) !important;
}


.danger-button:hover,
.danger-button:focus,
.danger-button:active {
  background-color: var(--white);
  border: 2px solid var(--danger) !important;
  color: var(--danger) !important;
}

.secondary-button:hover,
.secondary-button:focus,
.secondary-button:active {
  background-color: var(--primary);
  color: var(--white) !important;
}

.section-box {
  height: auto;
  width: 100%;
  padding: 20px;
  border: 0.12rem solid var(--primary);
  border-right: 0;
  border-radius: 10px;
  background-color: var(--xlight);
  /* margin: auto 0; */
}

.border-left-bottom-right {
  border: 0.12rem solid var(--primary);
  border-top: 0;
}

/* antd style modifications  */
.ant-layout .ant-layout-sider-zero-width-trigger {
  background-color: var(--primary-bold);
}

.ant-pagination .ant-pagination-item-active {
  border-color: var(--primary);
  border-width: 2px;
  color: var(--primary);
}

.ant-pagination .ant-pagination-item-active a {
  color: var(--primary);
}

.ant-pagination .ant-pagination-item-active:hover {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--white) !important;
}
.ant-pagination .ant-pagination-item-active a:hover {
  color: var(--white) !important;
}

.ant-upload-wrapper .ant-upload-list.ant-upload-list-picture .ant-upload-list-item-error, 
.ant-upload-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item-error, 
.ant-upload-wrapper .ant-upload-list.ant-upload-list-picture-circle .ant-upload-list-item-error {
  border-color: var(--primary);
}
.ant-upload-wrapper .ant-upload-list .ant-upload-list-item-error .ant-upload-list-item-name {
  color: var(--primary) !important;
}
.ant-btn-default:hover {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}

/*==================== Theming End ================================*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white);
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.register :where(.css-dev-only-do-not-override-htwhyh).ant-form-item, .login :where(.css-dev-only-do-not-override-htwhyh).ant-form-item {
  margin-bottom: 0px;
}

.ant-form-item-explain-error {
  font-size: 11px;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-htwhyh).ant-menu-light>.ant-menu .ant-menu-item-selected {
  background-color: white;
  color: inherit;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  display: none;
}